@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

html {
    scroll-behavior: smooth;
    overflow-x: hidden; 
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track-piece {
    background-color: #d4d4d4;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(94,94,94,0.89);
}
::selection {
    background-color: black;
    color: white;
}
body {
	
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}
.-header {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: /*url("https://www.alfabetajuega.com/abj_public_files/multimedia/imagenes/201604/144304.alfabetajuega.unreal-engine-4-apartamento-1-12062016.jpg");*/
	url("https://cdnb.artstation.com/p/assets/images/images/009/093/669/large/marcus-wilhelmstaetter-kitchen-4k.jpg?1517101974");
    background-repeat: no-repeat;
}
.-header-items {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    transition: 0.5s;
    padding: 20px;
    width: 100vw;
    z-index: 1;
}
.-header-logo-svg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.-header-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.-header-content-items-option {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 12px;
    box-sizing: content-box;
    transition: 0.1s;
    transition-timing-function: ease;
}
.-header-content-items-option a, .-footer-links a {
    color: white;
    transition: 0.5s;
}
.-header-content-items-option a, .-footer-links a:hover {
    text-decoration: none;
    color: #eaeaea;
}
.-header-content-items-option:hover {
    border: 2px solid white;
    border-width: 0 0 2px 0;
    text-shadow: 0 0 10px white;
}
.-header-content-resp-item a {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}
.-header-content-items {
    display: flex;
    padding-left: 5px;
    height: 50px;
}
.-header-content-items-toggle-btn {
    outline: none;
    width: 50px;
    height: 50px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    outline: 0;
    outline-color: transparent;
    display: none;
}


.sub-menu{
	padding: 9px;
	list-style: none;
    background:transparent !important;
	
}

.sub-menu ul{
    position:relative;
    display:none;
	list-style: none;

}

.sub-menu:hover ul{
	color: rgba(0, 0, 0, 0.9);
    position:relative;
    display:block;
    height:0px;
    top:15px;
	right: 14px;
    left:20%;
    margin:0;
    padding:0;
    list-style-type:none;
}

.sub-menu ul li{
    flex:1 0 100%;
    height:0px;
	
}



@media only screen and (max-width: 991px){
    .-header-content-items-toggle-btn {
        display: block;
    }
    .-header-content-items {
        display: none;
    }
    .-section {
        width: 100%;
    }
    .-subsection-info {
        margin-top: 50px;
    }
    .-topic- {
        text-align: center;
    }
    .a {
        padding-top: 30px;
    }
    .image {
        height: 100px;
    }
    .-header-content-text-1 {
        font-size: 30px;
    }
    .-header-logo-svg {
        width: 50px;
        height: 50px;
    }
}

.-header-content-resp {
    padding: 10px;
    min-width: 100px;
    text-align: center;
    border-radius: 5px;
    z-index: 99;
    position: fixed;
    top: 10px;
    display: none;
    background-color: rgba(250, 250, 250, 1);
    right: 10px;
    color: rgba(0, 0, 0, 0.9);
}
.-header-content-resp-item {
    width: 100px;
}
.-header-content-text {
    display: flex;
    justify-content: center;
    height: 100%;
    color: white;
    align-items: center;
}
.-footer-content-text {
    display: flex;
    justify-content: center;
    height: 90%;
    color: white;
    align-items: center;
}
.-header-content-text-1 {
    text-align: center;
	font-family: "Monotype Corsiva";
	font-size: 156px;
	text-decoration: underline;
	font-style: oblique;
    padding: 5px;
}
.-main-content {
    margin: 0;
    margin-top: 10px;
}
.-section- {
    padding-bottom: 100px;
}
.-topic- {
    font-family: "Lobster";
    font-size: 50px;
    text-align: center;
}
.-subsection- {
    border-radius: 7px;
    padding: 20px;
    transition: 0.5s;
}
.-subsection-info, .-subsection-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.-subsection-img {
    border-radius: 5px 5px 5px 5px;
}
.image {
    transition: 0.5s;
    padding: 5px;
    border-radius: 10px;
    object-fit: cover;
    height: 300px;
    cursor: pointer;
}
.-input {
    width: 50vw;
    padding: 10px;
    border-radius: 7px;
    border: none;
}
.-footer {
    width: 100%;
    padding:20px;
    background-image: linear-gradient(157deg, #434343, #4e4e4e);
}
.-search-icon {
    transition: 1s;
}
.-footer-bar {
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
}
.-icons-icons {
    font-size: 30px;
    color: #d4d4d4;
    margin-left: 20px;
    transition: 0.5s;
}
.-main-footer {
    background-color: rgba(28, 28, 28, 0.89);
    padding: 5vh 10vw;
}
.-footer-headings {
    color: #d4d4d4;
    font-size: 30px;
    font-variant: all-petite-caps;
}
.-icons-icons:hover {
    color: #b2b2b2;
}
.m {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.img-modal {
    max-width: 100%;
    max-height:100%;
}